dat_to_csv.ipynb
HelloWorld.ipynb
JupyterTutorial.ipynb
MultiPole.ipynb
MultipoleTest.nb
.ipynb_checkpoints/HelloWorld-checkpoint.ipynb
.ipynb_checkpoints/JupyterTutorial-checkpoint.ipynb
.ipynb_checkpoints/MSTWpdf-checkpoint.ipynb
.ipynb_checkpoints/MultiPole-checkpoint.ipynb
Data/GPD/MSTW_Table_4.dat
Data/GPD/NonSingletIsoscalarMomentsA0705.4295.dat
Data/GPD/NonSingletIsoscalarMomentsA2305.11117.dat
Data/GPD/NonSingletIsoscalarMomentsAtilde0705.4295.dat
Data/GPD/NonSingletIsoscalarMomentsB0705.4295.dat
Data/GPD/NonSingletIsoscalarMomentsB2305.11117.dat
Data/GPD/NonSingletIsoscalarMomentsBtilde0705.4295.dat
Data/GPD/NonSingletIsoscalarMomentsC0705.4295.dat
Data/GPD/NonSingletIsovectorMomentsA0705.4295.dat
Data/GPD/NonSingletIsovectorMomentsA1908.10706.dat
Data/GPD/NonSingletIsovectorMomentsA2305.11117.dat
Data/GPD/NonSingletIsovectorMomentsAtilde0705.4295.dat
Data/GPD/NonSingletIsovectorMomentsB0705.4295.dat
Data/GPD/NonSingletIsovectorMomentsB1908.10706.dat
Data/GPD/NonSingletIsovectorMomentsB2305.11117.dat
Data/GPD/NonSingletIsovectorMomentsBtilde0705.4295.dat
Data/GPD/NonSingletIsovectorMomentsC0705.4295.dat
Data/GPD/NonSingletIsovectorMomentsTildeA1908.10706.dat
Data/GPD/NonSingletIsovectorMomentsTildeB1908.10706.dat
Data/GPD/CSV/MSTW_Table_4.csv
Data/GPD/CSV/NonSingletIsoscalarMomentsA2305.11117.csv
Data/GPD/CSV/NonSingletIsoscalarMomentsB2305.11117.csv
Data/GPD/CSV/NonSingletIsovectorMomentsA0705.4295.csv
Data/GPD/CSV/NonSingletIsovectorMomentsA1908.10706.csv
Data/GPD/CSV/NonSingletIsovectorMomentsA2305.11117.csv
Data/GPD/CSV/NonSingletIsovectorMomentsB0705.4295.csv
Data/GPD/CSV/NonSingletIsovectorMomentsB1908.10706.csv
Data/GPD/CSV/NonSingletIsovectorMomentsB2305.11117.csv
Data/GPD/CSV/NonSingletIsovectorMomentsC0705.4295.csv
Data/GPD/CSV/NonSingletIsovectorMomentsTildeA1908.10706.csv
Data/GPD/CSV/NonSingletIsovectorMomentsTildeB1908.10706.csv
